@import "../_variables.scss";
.article-container,
.post-body-container {
  h2 {
    opacity: 0.8;
  }
}

.slug-header {
  a {
    font-size: 2rem;
  }
  .post-description {
    grid-column-start: 1;
    grid-column-end: -1;
    font-family: Gestura Display TRIAL;
    font-style: normal;
    font-size: 2rem;
    line-height: 150%;
    letter-spacing: -0.8px;
  }
}
.post-title-wrapper {
  grid-column-start: 2;
  grid-column-end: -1;
  > :first-child {
    margin-bottom: $sm-margin;
    h1 {
      margin-left: $xs-margin;
    }
  }
  //   move to type.scss file
}

.project-overview {
  display: flex;
  flex-direction: column;
  grid-column-start: 1;
  grid-column-end: -1;
  div {
    margin-top: $med-margin;
  }
  h3 {
    text-transform: uppercase;
    margin-bottom: $sm-margin;
  }
}

.project-details {
  grid-column-start: 1;
  grid-column-end: -1;
  margin-top: $med-margin;
  h4 {
    margin-bottom: $xs-margin;
    opacity: 0.7;
  }
  li {
    margin-bottom: $sm-margin;
  }
}

.slug-final-product {
  width: 100vw;
  img {
    width: -webkit-fill-available;
  }
}

.post-body-container {
  padding: 0 1rem;
}

@media (min-width: 1024px) {
  //   .project-details {
  //     display: flex;
  //     grid-column-start: 1;
  //     grid-column-end: 6;
  //     ul {
  //         display: flex;
  //     }
  //   }
}

@media (min-width: 1280px) {
  .slug-header {
    a {
      grid-column-start: 1;
      grid-column-end: 1;
      font-size: 2rem;
    }
    h1,
    .post-description {
      grid-column-start: 2;
      grid-column-end: 7;
    }
    .project-overview {
      grid-column-start: 3;
      grid-column-end: 7;
      div:first-child {
        margin-top: 0;
      }
    }
    .project-details {
      padding: 0;
      grid-column-start: 8;
    }
    .project-overview,
    .project-details {
      margin-top: $med-margin;
    }
  }
  .post-title-wrapper {
    grid-column-start: 2;
    grid-column-end: 6;
  }

  .slug-final-product {
    display: flex;
    h2 {
      text-align: center;
      width: 100%;
      margin-bottom: $med-margin;
    }
    // flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    div {
      display: inline-block;
      margin: 0 1rem 0 1rem;
      flex-grow: 1;
      width: calc(100% * (1 / 3) - 10px - 2rem);
    }
    img {
      width: 1080px;
    }
  }
}

@media (min-width: 1536px) {
  .slug-final-product {
    display: flex;
    justify-content: space-between;
    h2 {
      text-align: center;
      width: 100%;
      margin-bottom: $med-margin;
    }
    // flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    div {
      display: inline-block;
      margin: 0 1rem 0 1rem;
      flex-grow: 1;
      width: calc(100% * (1 / 3) - 10px - 2rem);
    }
    img {
      width: 1080px;
    }
  }
}
