@import "_variables.scss";

.intro-container{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  column-gap: 2rem
}


.grid-container {
  display: grid;
  padding: $grid-container-padding;
  grid-template-columns: repeat(8, 1fr);
  column-gap: 2rem;
}

// @media (min-width: 1024px) {
//   .grid-container {
//     display: grid;
//     grid-template-columns: repeat(8, 1fr);
//     padding: $grid-container-padding;
//   }
// }
