@import url("https://use.typekit.net/ocd1tda.css");

// This font library is based off of the golden ratio

$sm-font: 0.9rem; // footer ?? |  base ÷ 1.65 | smaller than base
$base-font: 1.2rem; // p | 17px
$med-font: $base-font * 1.65; // h3 | base * 1.65
$lrg-font: $base-font * (1.65 * 1.65); // h2 | h3 * 1.65
$xl-font: $base-font * (1.65 * 1.65 * 1.65); // h1 | h2 * 1.65

h1 {
  font-family: Gestura Headline TRIAL;
  font-style: normal;
  font-size: $lrg-font;
  letter-spacing: -0.8px;
  text-transform: uppercase;
  line-height: 125%;
}

h2 {
  font-family: Gestura Headline TRIAL;
  font-style: normal;
  font-size: $med-font;
  letter-spacing: -0.8px;
}

h3 {
  font-size: $base-font;
}

h4 {
  font-size: $base-font;
  text-transform: uppercase;
}

.display-lead {
  font-family: "brandon-grotesque", sans-serif;
  font-size: $base-font;
  font-style: normal;
  font-weight: 330;
  line-height: 150%; /* 36px */
  letter-spacing: 0.48px;
}

p {
  font-style: light;
  font-weight: 500;
  font-size: $base-font;
}

a {
  font-size: $base-font;
  font-weight: 700;
  font-style: normal;
}

sup {
  font-size: 0.8rem;
}

.footer-container {
  * {
    font-size: $base-font !important;
  }
}

em {
  // font-style: italic;
}

// ------=-=-=-=-=-=-=-=-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=

// @media (min-width: 640px) {
// }
// @media (min-width: 768px) {
// }
// @media (min-width: 1024px) {
// }

// Footer
.footer-container {
  a,
  p {
    color: #474747;
    font-family: "brandon-grotesque", sans-serif;
    font-style: light;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.4rem;
    letter-spacing: -0.48px;
  }

  h5,
  span {
    color: var(--Text-Color, #474747);
    font-family: "brandon-grotesque", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.05rem;
  }
}
// end of footer

@media (min-width: 375px) {
}

@media (min-width: 1280px) {
  $sm-font: 1.1rem; // footer ?? |  base ÷ 1.65 | smaller than base
  $base-font: 1.3rem; // p | 17px
  $med-font: $base-font * 1.65; // h3 | base * 1.65
  $lrg-font: $base-font * (1.65 * 1.65); // h2 | h3 * 1.65
  $xl-font: $base-font * (1.65 * 1.65 * 1.65); // h1 | h2 * 1.65
  h1 {
    font-size: $xl-font;
  }
  h2 {
    font-size: $lrg-font;
  }
  h3 {
    font-size: $med-font;
  }
  a {
    font-size: $base-font;
  }
}

// Largest Media Query
@media (min-width: 1536px) {
}
