// margins
$sm-margin: 1.5rem;
$xs-margin: 0.5rem;
$med-margin: 3rem;
$lrg-margin: 4.5rem;
$container-margin: $sm-margin auto;
$container-padding: 0 $med-margin;
$grid-container-padding: $sm-margin 1rem;
$font-color: #474747;

