@tailwind base;
@tailwind components;
@tailwind utilities;

/* BASE - Base Variable file along with starting point Mixins.
========================================================================== */
@import "_variables.scss";

/* FRAMEWORK - Structure and layout files.
========================================================================== */
@import "_grid.scss";

/* MODULES - Re-usable site elements.
========================================================================== */
@import "_footer.scss";

/* FONTS
========================================================================== */
@import "_type.scss";
@import url("https://use.typekit.net/ocd1tda.css");

* {
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  color: $font-color;
  font-family: "brandon-grotesque", sans-serif;
  padding-bottom: env(safe-area-inset-bottom);
  scroll-behavior: smooth;
}

.dark-mode {
  background-color: black !important;
  //   background-color: rgb(14, 14, 14) !important;
  * {
    color: white !important;
  }
}

// Navbar

header {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.8;
  // background: #000;
  // box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  // backdrop-filter: blur(500px);
  .back-button-container {
    a {
      font-size: 2rem;
    }
  }
}

.back-button-container,
.text-cta-wrapper {
  justify-content: right;
  align-items: center;
}
.text-cta-wrapper {
  grid-column-start: 3;
  display: flex;
  * {
    font-weight: 500 !important;
    gap: 10px;
  }
}
.text-cta {
  display: flex;
  border-radius: 24px;
  background: #383838;
  justify-content: right;
  align-items: center;
  //   padding: 0px 11px;
  padding: 5px 11px;
}
// End of navbar

// Scroll to top button

@mixin display-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-to-top {
  @include display-flex;

  position: fixed;
  bottom: 50px;
  right: $sm-margin;

  width: $lrg-margin;
  height: $lrg-margin;

  * {
    color: black !important;
  }
  background-color: white;
  z-index: 5;

  border: none;
  border-radius: 50px;

  cursor: pointer;
}
// End of scroll button

.landing-bg {
  grid-column-end: -1;
  position: absolute;
  justify-content: center;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  max-height: -webkit-fill-available;
  background-image: url("../public/favicon/portfolio-bg-v2.png");
  background-position-y: 50%;
}

.landing-bg-gradient {
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.85),
    rgba(255, 255, 255, 0.2) 20.17%,
    rgba(255, 255, 255, 0)
  );
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  transition: all 0.3s ease-out;
  transition: 250ms;
}

a {
  border: 1px solid var(green);
  transition: all 0.3s ease-out;
}

.underscore-cta {
  cursor: pointer;
  a {
    // color: $sprite-text;
    display: inline-block;
    position: relative;
  }
  a:after {
    transition: 0.25s ease-in-out;
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #4d9735;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a:hover:after,
  .contactModal:hover:after {
    width: 100%;
    left: 0;
  }
}

* {
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.about-container {
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.home-container {
  padding: $sm-margin 1rem;
}

.landing-container {
  min-height: fit-content;
  height: 100svh;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: space-between;
  padding-bottom: 2 * $sm-margin;
  margin-bottom: env(safe-area-inset-bottom);
}

.about-container {
  .cta-about {
    margin-top: $sm-margin;
    span {
      margin: auto;
      margin-right: 0;
    }
  }
  .about-biography {
    width: 100%;
  }
  div {
    ul li {
      margin-right: 1rem;
    }
    ul li:last-child {
      margin-right: 0;
    }
  }
}

.about-contact-container {
  a {
    white-space: nowrap;
    font-weight: 300;
  }
  display: flex;
  flex-wrap: wrap;
  li {
    margin-right: 1rem;
  }
  li:last-child {
    margin-right: 0;
  }
  li {
    display: none;
  }
  li:first-child {
    display: flex;
  }
  img {
    height: 24px;
    margin: auto;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 8;
  gap: 1rem;
}

.icon {
  fill: #474747;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}

.more-stories {
  margin-top: $lrg-margin;
}

.post-preview {
  * {
    margin-bottom: $sm-margin;
  }
}

.desktop-display-only {
  display: none;
}

.mobile-display-only {
  display: grid;
}

.test {
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0px;
}

// Layout
.intro-container {
  h1 {
    width: 14ch;
  }
}

// About
.about-header-wrapper {
  img {
    min-width: 48px;
    min-height: 48px;
    object-fit: contain;
  }
  p {
    margin-top: 0;
    display: flex;
    align-self: center;
    margin-left: 12px;
  }
}

.back-button {
  margin-left: -1em;
  a {
    width: fit-content;
  }
}

.post-preview-container {
  column-gap: 2rem;
}

// slug
.slug-modal-wrapper {
  height: -webkit-fit-content;
  z-index: 1;
  display: block;
  padding-top: 0;
}

.slug-animate-container{
  transform: scale(.95);
}

// ------=-=-=-=-=-=-=-=-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=

@media (min-width: 413px) {
  .intro-container {
    h1 {
      width: 17ch;
    }
  }
}
@media (min-width: 640px) {
  .intro-container {
    h1 {
      width: 17ch;
    }
  }
}
@media (min-width: 768px) {
  .text-cta-wrapper {
    grid-column-start: 7;
  }
  .landing-container {
    height: 100vh;
  }
  .mobile-display-only {
    display: none;
  }
  .desktop-display-only {
    display: grid;
  }

  .intro-container {
    h1 {
      width: 20ch;
    }
  }
}
@media (min-width: 1024px) {
  .intro-container {
    h1 {
      width: 20ch;
    }
  }
  .landing-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    .intro-container {
      grid-column-start: 1;
      grid-column-end: -1;
    }
    .about-container {
      grid-column-start: 1;
      grid-column-end: 5;
      .about-content-wrapper {
        display: flex;
        p:last-child {
          margin-left: $sm-margin;
        }
      }
    }
  }
  //font size

  //padding and margin
}
@media (min-width: 1280px) {
  .landing-container {
    min-width: fit-content;
  }
  .post-preview-container {
    column-gap: 3rem;
  }

  .home-container {
    margin: $sm-margin auto;
    padding: $container-padding;
  }
  .home-container {
    display: grid;
    .landing-container {
      margin: 0;
    }
  }
  .more-stories {
    img {
      width: -webkit-fill-available;
    }
  }

  .about-container {
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    width: 663px;
  }

  .post-preview {
    * {
      margin-bottom: $sm-margin;
    }
  }
}
@media (min-width: 1548px) {
  .landing-container {
    min-width: fit-content;
  }
  .post-preview-container {
    column-gap: 3rem;
  }

  .home-container {
    margin: $sm-margin auto;
    padding: 0 $med-margin;
  }
  .home-container {
    display: grid;
    grid-template-columns: 8 1fr;
    .landing-container {
      margin: 0;
    }
  }
  .more-stories {
    img {
      width: -webkit-fill-available;
    }
  }

  .about-container {
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    width: 663px;
  }

  .post-preview {
    * {
      margin-bottom: $sm-margin;
    }
  }
}
